*{
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}

.CenterImage{

    margin: 25px auto;
    background-color: #111111;
    height: 360px;
    max-width: 960px;
}

article{
    margin: 25px auto;
    max-width: 960px;
    background-color: grey;
}

.parentSmallBoxes {
    max-width: 100%;
    /*width: 100%;*/
    /*text-align: center;*/
    display: block;
    margin-left: 18%;
    margin-right: auto;

}

.smallBoxes{
    width: 215px;
    height: 315px;
    display: inline-block;
    background-color: #111111;
    /*margin:0 auto;*/

}
#footer{
    margin-top:25px;
}

#footer_right{
    padding-top:10px;
    float: right;
}
#footer_left{
    padding-top:10px;
    float: left;
}
h1 a{
    color: #111111;
    text-decoration: none;
    font-size: 50px;
}

